@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1200px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 16px;

////////////////////
// フォント設定
////////////////////
///
$base-font: "Montserrat", YuGothic, "Yu Gothic", sans-serif;
$font-jp: YuGothic, "Yu Gothic", sans-serif;
$font-en: "Montserrat", sans-serif;
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $base-font;
  color: #3e3e3e;
  background-color: #e3e3e3;
}

// フォントウェイト
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #3e3e3e;
$white: #ffffff;
$whiteGray: #e3e3e3;
$lightGray: #f3f3f3;
$lightGray2: #cecdcd;
$gray: #b2b2b2;
$gray2: #707070;
$orange: #ffaa3b;
$orange2: #f18900;
$blue: #4973ff;
$red: #ff4646;
