@use "global" as *;

.access {
  background-color: $black;
  padding: rem(40) 0 rem(60);
  @include mq("md") {
    position: relative;
    padding: rem(120) 0 rem(120);
    background: linear-gradient(
      90deg,
      $black 0%,
      $black 76.5625%,
      $lightGray 23.4375%,
      $white 100%
    );
  }
}

.access__contents {
  @include mq("md") {
    margin-left: rem(60);
  }
}

.access__address {
  color: $white;
  font-size: rem(14);
  font-weight: $medium;
  line-height: calc(20 / 14);
  margin-top: rem(40);
  @include mq("md") {
    font-size: rem(16);
    margin-top: rem(60);
  }
}

.access__map {
  aspect-ratio: 343/241;
  margin-top: rem(18);
  @include mq("md") {
    max-width: rem(726);
    width: 100%;
    margin-top: initial;
    position: absolute;
    top: 50%;
    right: rem(40);
    transform: translateY(-26%);
  }
}

.access__map iframe {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.access__button {
  max-width: rem(339);
  width: 100%;
  margin-inline: auto;
  margin-top: rem(16);
  @include mq("md") {
    max-width: rem(314);
    margin-left: rem(0);
    margin-top: rem(26);
  }
}

.access__layout {
  display: none;
  @include mq("md") {
    display: block;
    height: rem(256);
    background-color: $lightGray;
  }
}
