@use "global" as *;

.comments {
  background-color: $black;
  height: rem(425);
  position: relative;
  @include mq("md") {
    height: rem(576);
    background: linear-gradient(
      90deg,
      $black 0%,
      $black 76.5625%,
      $lightGray 23.4375%,
      $white 100%
    );
  }
}

.comments__inner {
  display: flex;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
    @include mq("md") {
      top: 27%;
    }
}

.comments__heading.heading {
  text-align: left;
}

.comments__wrapper {
  background-color: $white;
  padding: rem(40) rem(20);
  box-shadow: 0px 0px 10px #00000029;
  max-width: rem(450);
  width: 100%;
  margin-inline: auto;
  @include mq("md") {
    width: calc(666 / 1200) * 100%;
    max-width: 100%;
    padding: rem(120) rem(60);
  }
}

.comments__wrapper2 {
  @include mq("md") {
    width: calc(534 / 1200) * 100%;
  }
}

.comments__content {
  display: grid;
  gap: rem(20);
  grid-template-columns: rem(60) 1fr;
  margin-top: rem(35);
  @include mq("md") {
    gap: rem(32);
    grid-template-columns: rem(100) 1fr;
    margin-top: rem(60);
  }
}

.comments__photo {
  aspect-ratio: 534/444;
}

.comments__photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.comments__img {
  aspect-ratio: 100/100;
}

.comments__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.comments_text {
  font-size: rem(14);
  font-weight: $medium;
  line-height: calc(20 / 14);
  @include mq("md") {
    font-size: rem(16);
  }
}
