@use "global" as *;

.contact {
  background-image: url(../images/common/contact-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: $font-jp;
  padding-top: rem(40);
  padding-bottom: rem(40);
  @include mq("md") {
    padding-top: rem(60);
    padding-bottom: rem(55);
  }
}

.contact__container {
  max-width: rem(960);
  width: 100%;
  margin-inline: auto;
  border-radius: rem(12);
  overflow: hidden;
}

.contact__block {
  background-image: url(../images/common/contact-sp.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: rem(40) rem(16);
  position: relative;
  @include mq("md") {
    background-image: url(../images/common/contact.webp);
    padding: rem(60) rem(16);
  }
}

.contact__block::after {

}

.contact__heading {
  text-align: center;
  font-family: $font-en;
}

.contact__text {
  color: $white;
  font-size: rem(14);
  font-weight: $medium;
  line-height: calc(20 / 14);
  padding-top: rem(12);
  @include mq("md") {
    text-align: center;
    font-size: rem(16);
  }
}

.contact__form {
  background-color: $white;
  padding: rem(30) rem(12);
  @include mq("md") {
    padding: rem(60) rem(12);
  }
}
