@use "global" as *;

.heading {
  font-size: rem(30);
  font-weight: $semibold;
  line-height: 1;
  text-transform: capitalize;
    @include mq("md") {
      font-size:  rem(36);
    }
}

.heading.heading--white {
  color: $white;
}
