@use "global" as *;

.hamburger {
  position: fixed;
  z-index: 9999;
  top: rem(24);
  right: rem(16);
  width: rem(26);
  height: rem(20);
  cursor: pointer;
  color: $black;
  transition: all 0.7s ease 0s;
}

.hamburger::after {

  content: "";
  display: inline-block;
  width: rem(26);
  height: rem(20);
  background-image: url(../images/common/hamburger.webp);
  background-size: contain;
  background-repeat: no-repeat;
}

.hamburger.is-current::after {
  content: "";
  display: inline-block;
  width: rem(21);
  height: rem(21);
  background-image: url(../images/common/close.webp);
  background-size: contain;
  background-repeat: no-repeat;
}

.hamburger.is-current {
  right: 15px;
}

.hamburger.is-current {
  transform: translateX(-80vw);
}
