@use "global" as *;

.header__nav {
  height: inherit;
}

.header-nav__lists {
  height: inherit;
}

.header-nav__lists {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(40);
  font-size: rem(16);
  font-weight: $medium;
  letter-spacing: -0.02em;
  line-height: calc(19 / 16);
}

.header-nav__list {
  text-transform: capitalize;
  height: inherit;
}

.header-nav__list a {
  height: inherit;
  display: flex;
  align-items: center;
  position: relative;
}

.header-nav__list a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: rem(1);
  background: $black;
  bottom: rem(25);
  left: 0;
  transition: all 0.3s ease 0s;
  transform: scale(0, 1);
  transform-origin: center top;
}

.header-nav__list a:hover::after {
  transform: scale(1.2);
  opacity: 0.3;
}

