@use "global" as *;

.header {
  height: rem(68);
  background-color: $white;
  z-index: 9999;
  @include mq("md") {
    height: rem(83);
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.header.menu-open {
  background-color: transparent;
}

.header.menu-open .header__logo {
  display: none;
}

.header__inner {
  height: inherit;
}

.header__logo {
  height: inherit;
  font-size: rem(23);
  font-weight: $semibold;
  display: flex;
  align-items: center;
}

/* スクロールしたらヘッダーメニューのフォントカラー変更 */
.header.headerColorScroll {
  background-color: $whiteGray;
  transition: all 0.5s ease 0s;
}
