@use "global" as *;

.monotone-button {
  display: inline-block;
  font-size: rem(18);
  font-weight: $semibold;
  line-height: calc(22.5 / 18);
  padding: rem(14.8) 1em;
  background-color: $white;
  border: rem(1) solid $gray2;
  letter-spacing: 0.2em;
  color: $black;
  max-width: rem(268);
  width: 100%;
  text-align: center;
  transition: all 0.5s ease 0s;
  @include mq("md") {
    max-width: rem(236);
    width: 100%;
    font-size: rem(20);
    padding: rem(18.5) 1em;
  }
}

.monotone-button:hover {
  background-color: $black;
  color: $white;
  transition: all 0.5s ease 0s;
}

.monotone-button.monotone-button--white {
  background-color: $black;
  color: $white;
  border: rem(1) solid $white;
  max-width: rem(350);
  width: 100%;
}

.monotone-button.monotone-button--white:hover {
  background-color: $white;
  color: $black;
  transition: all 0.5s ease 0s;
}

.monotone-button.monotone-button--space {
  letter-spacing: 0.1em;
}
