@use "global" as *;

.news-item {
  position: relative;
  border-bottom: rem(1) solid $lightGray2;
  padding: rem(11) 0;
  @include mq("md") {
    padding: rem(38) 0;
  }
}

.news-item:hover {
  background-color: #4973FF1A;
  // cursor: pointer;
}

.news-item:first-child {
  border-top: rem(1) solid $lightGray2;
}

.news-item::after {
  position: absolute;
  content: "";
  width: rem(15);
  height: rem(21);
  right: rem(15);
  top: 50%;
  transform: translateY(-50%);
  background: url(../images/common/news-arrow.webp) center center / cover no-repeat;
}

.news-items__heading {
  text-align: center;
}

.news-item__box {
  max-width: rem(288);
  width: 100%;
  padding-left: rem(15);
  @include mq("md") {
    max-width: rem(1000);
    display: flex;
    align-items: center;
    padding-left: initial;
  }
}

.news-item__unit {
  @include mq("md") {
    flex: 0 0 26%;
    display: flex;
  }
}

.news-item__date {
  display: inline-block;
  font-size: rem(14);
  font-weight: $regular;
  line-height: calc(20 / 14);
  letter-spacing: 0.025em;
  @include mq("md") {
    font-size: rem(18);
  }
}

.news-item__category {
  display: inline-block;
  font-size: rem(12);
  font-weight: $medium;
  line-height: 1.1;
  letter-spacing: 0.025em;
  border: 2px solid $blue;
  border-radius: 50px;
  padding: rem(1.5) rem(14);
  margin-left: rem(20);
  background-color: $white;
  @include mq("md") {
    margin-left: rem(36);
    font-size: rem(14);
    padding: rem(5.4) 0;
    max-width: rem(121);
    width: 100%;
    text-align: center;
  }
}

.news-item__text {
  font-size: rem(14);
  font-weight: $medium;
  line-height: 1.3;
  margin-top: rem(12);
  @include mq("md") {
    margin-top: initial;
    margin-left: rem(36);
    flex: 0 1 75%;
    font-size: rem(18);
    letter-spacing: 0.025em;
  }
}
