@use "global" as *;

.service {
  background: linear-gradient(180deg, $black 0%, $black 55%, $lightGray 55%, $lightGray 100%);
  padding-top: rem(40);
    @include mq("md") {
      padding-top: rem(60);
    }
}

.service-items__heading {
  text-align: center;
}